@model IEnumerable<GestionEvenements.Models.EvenementViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des événements</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duree)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theme)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duree)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theme.Nom)
        </td>
        <td>
            @foreach(var img in item.Image)
            {
            <img src="@Url.Content(img.Path)" alt="Concert de Johnny"
                  width="200" height="150"/>
            }
        </td>
        <td>
            @Html.ActionLink("Modifier", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Détails", "Details", new { id = item.ID }) |
            @Html.ActionLink("Supprimer", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
<hr />

<p>@Html.ActionLink("Ajouter un nouvel événement", "Edit")</p>
