
@{
    ViewBag.Title = "Description";
}

<h2>@ViewBag.Nom</h2>

<br />

@Html.Action("DetailsEvenement", new { ID = @ViewBag.ID })

<br />

@Html.Action("ListerParkings", new { ID = @ViewBag.ID })

<br />

@Html.Action("Map", new { ID = @ViewBag.ID })