
@{
    ViewBag.Title = "Description";
}

<h2>Description de l'évènement</h2>

@Html.Action("DetailsEvenement", new { ID = @ViewBag.ID })

<br />

@Html.Action("ListerParkings", new { ID = @ViewBag.ID })

<br />

@Html.Action("Map")