@model GestionEvenements.Models.EvenementViewModel

<div class="container border border-secondary">
    <h4>Details de l'évènement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Adresse
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duree) h
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theme.Nom)
        </dd>

    </dl>
</div>
