@model IEnumerable<GestionEvenements.Models.EvenementViewModel>

@{
    ViewBag.Title = "ListerEvenements";
}

<h2>Liste des événements</h2>
<hr />
<div class="container-fluid mt-4">
    <div class="row justify-content-left">
        @foreach (var item in Model)
        {
            <div class="col-auto col-md-3">
                <div class="card bg-light">
                    @foreach (var image in item.Image)
                    {
                        <img class="card-img-top" src="@Url.Content(image.Path)" alt="Card image cap">
                    }
                    <div class="card-body">
                        <h4 class="card-title"><b>@Html.DisplayFor(modelItem => item.Nom)</b></h4>
                        <h5 class="card-subtitle"><b>Adresse</b></h5>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Lieu)</p>
                        <h5 class="card-subtitle"><b>Date</b></h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Date)</p>
                        <h5 class="card-subtitle"><b>Durée</b></h5>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Duree) h</p>
                        <h5 class="card-subtitle"><b>Theme</b></h5>
                        <p class="card-text"> @Html.DisplayFor(modelItem => item.Theme.Nom)</p>
                    </div>
                <div class="card-footer">
                    @Html.ActionLink("Details", "Description", new { id = item.ID, nom = item.Nom })
                </div>
            </div>
            </div>
         }
   </div>
</div>
